<div class="card card-body m-5">
  <h2 class="m-1 mb-3">
    Forms
  </h2>
  <div class="d-flex flex-row justify-content-between card my-2" *ngFor="let form of forms; let i = index;">
    <h4 class="m-3 flex-fill clickable" (click)="goToResponses(form.url)">
      {{ form.title }}
    </h4>
    <button class="btn btn-link" [cdkCopyToClipboard]="copyLink(form.url)">
      Copy Link
    </button>
    <button class="btn btn-outline-dark m-3" (click)="edit(form.url)">
      <i class="bi bi-pencil"></i>
    </button>
    <button class="btn btn-danger m-3" (click)="delete(form.id, i)">
      <i class="bi bi-trash"></i>
    </button>

  </div>
</div>
